:root {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft YaHei UI",
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color-scheme: light;
  --bg: #ffffff;
  --sidebar: #f7f7f5;
  --surface: #ffffff;
  --surface-soft: #fafaf8;
  --text: #30302d;
  --muted: #787872;
  --subtle: #aaa9a3;
  --line: #e9e9e5;
  --hover: #efefec;
  --accent: #1f75cb;
  --ink: #353532;
  --ink-text: #fff;
  --green: #52816d;
  --danger: #b64a42;
  --shadow: 0 3px 10px #29292306, 0 1px 3px #29292305;
  --modal-shadow: 0 20px 100px #0003;
}
:root[data-theme="dark"] {
  color-scheme: dark;
  --bg: #20211f;
  --sidebar: #191a18;
  --surface: #252623;
  --surface-soft: #292a27;
  --text: #e4e4df;
  --muted: #a2a29a;
  --subtle: #7e8077;
  --line: #383a34;
  --hover: #30322c;
  --ink: #e5e5de;
  --ink-text: #242520;
  --green: #8db39d;
  --danger: #ee9386;
  --shadow: 0 2px 8px #0002;
}
@media (prefers-color-scheme: dark) {
  :root[data-theme="system"] {
    color-scheme: dark;
    --bg: #20211f;
    --sidebar: #191a18;
    --surface: #252623;
    --surface-soft: #292a27;
    --text: #e4e4df;
    --muted: #a2a29a;
    --subtle: #7e8077;
    --line: #383a34;
    --hover: #30322c;
    --ink: #e5e5de;
    --ink-text: #242520;
    --green: #8db39d;
    --danger: #ee9386;
    --shadow: 0 2px 8px #0002;
  }
}
